<!DOCTYPE html>
<html lang="ja">
<head>
    {% block head %}
    <meta charset="UTF-8">
    {% for ogp in page.header.ogp %}
    <meta property="{{ ogp.property }}" content="{% if ogp.property == 'og:image' %}{{ uri.base }}{{ page.media[ogp.content].url }}{% else %}{{ ogp.content }}{% endif %}" />
    {% endfor %}
    {% for meta in page.metadata %}
        <meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
    {% endfor %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% block stylesheets %}
        {% do assets.add('theme://css/style.css',100) %}
    {% endblock %}
    {{ assets.css() }}
    <link rel="shortcut icon" href="{{ theme_url }}/images/favicon.ico" type="image/x-icon" />
    {% endblock head %}
</head>
<body>
    {% include 'partials/header.html.twig' %}

    <main role="main">
        {% block content %}{% endblock %}
    </main>
    
    {% include 'partials/social.html.twig' %}
    {% include 'partials/footer.html.twig' %}
    {% block bottom %}{% endblock %}
</body>
</html>
