{% set originalValue = originalValue is defined ? originalValue : value %}
{% set value = (value is null ? field.default : value) %}

{% block field %}
    {% block contents %}
        {% if field.type == 'radio' %}
            <p id="{{ field.name }}">{{ field.label|default(field.name|capitalize)|t }}{{ field.validate.required == true ? '<span>必須</span>' }}</p>
        {% else %}
            <label for="{{ field.name }}">{{ field.label|default(field.name|capitalize)|t }}{{ field.validate.required == true ? '<span>必須</span>' }}</label>
        {% endif %}
        {% block group %}
            {% block input %}
                <input
                    {# required attribute structures #} 
                    name="{{ (scope ~ field.name)|fieldName }}" 
                    value="{{ value|e('html_attr')|join(', ') }}" 
                    id="{{ field.name }}" 
                    data-validation-error-msg-container="#validation_message_{{ field.name }}" 
                    {# input attribute structures #} 
                    {% block input_attributes %} 
                        {% if field.classes is defined %}class="{{ field.classes }}" {% endif %}
                        {% if field.id is defined %}id="{{ field.id|e }}" {% endif %}
                        {% if field.style is defined %}style="{{ field.style|e }}" {% endif %}
                        {% if field.disabled %}disabled="disabled" {% endif %}
                        {% if field.placeholder %}placeholder="{{ field.placeholder }}" {% endif %}
                        {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus" {% endif %}
                        {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate" {% endif %}
                        {% if field.readonly in ['on', 'true', 1] %}readonly="readonly" {% endif %}
                        {% if field.autocomplete in ['on', 'off'] %}autocomplete="{{ field.autocomplete }}" {% endif %}
                        {% if field.validate.required in ['on', 'true', 1] %}required="required" {% endif %}
                        {% if field.validate.pattern %}pattern="{{ field.validate.pattern }}" {% endif %}
                        {% if field.validate.message %}data-validation-error-msg="{{ field.validate.message|e|t }}" 
                        {% elseif field.title is defined %}title="{{ field.title|e|t }}" {% endif %}
                    {% endblock %}>
                    {# jQuery Form Validator #}
                    <span id="validation_message_{{ field.name }}" class="error-alert" role="alert" aria-atomic="true" aria-live="assertive" tabindex="-1"></span>
            {% endblock %}
        {% endblock %}
    {% endblock %}
{% endblock %}
